.btn-apply-promotion {
    background-color: #b71c1c;
    color: #fff;
    padding: 10px 32px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 9px;
    border: none;
}

.extra-infor-post {
    padding-left: 25px;
    padding-bottom: 10px;
    display: block;
    color: #b71c1c;
}
.insee-color {
    background-color: #b71c1c;
    color: #fff;
}

.feature-photo figure img {
    max-height: 400px;
}

.user-avatar{
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 1000;
 }

 .table-info-contractor th{
     border: none;
 }

 .table-info-contractor td{
    border: none;
}


.errorMsg {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 10px;
}

.errorMsg p {
    font-size: small;
    color: red;
}

.pepl-info ul {
    padding-left: 0;
}
.pepl-info ul li {
    display: inline-block;
    padding: 5px 20px;
    padding-left: 0;
    font-size: 13px;
}

.pepl-info .action {
    padding-top: 24px;
    display: block;
    overflow: hidden;
    text-align: center;
}

.mgr20 {
    margin-right: 20px;
}

.pepl-info img {
    border-radius: 100%;
}

.action-customer-detail li {
    display: inline-block;
    padding: 10px 20px;
    padding-right: 0;
}

.action-container {
    margin-bottom: 20px;
    text-align: right;
}