.btn-apply-promotion {
    background-color: #b71c1c;
    color: #fff;
    padding: 10px 32px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 9px;
    border: none;
}

.extra-infor-post {
    padding-left: 25px;
    padding-bottom: 10px;
    display: block;
    color: #b71c1c;
}
.insee-color {
    background-color: #b71c1c;
    color: #fff;
}

.feature-photo figure img {
    max-height: 400px;
}

.user-avatar{
    height: 150px;
    width: 150px;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 1000;
 }

 .table-info-contractor th{
     border: none;
 }

 .table-info-contractor td{
    border: none;
}


.errorMsg {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 10px;
}

.errorMsg p {
    font-size: small;
    color: red;
}

.pepl-info ul {
    padding-left: 0;
}
.pepl-info ul li {
    display: inline-block;
    padding: 5px 20px;
    padding-left: 0;
    font-size: 13px;
}

.pepl-info .action {
    padding-top: 24px;
    display: block;
    overflow: hidden;
    text-align: center;
}

.mgr20 {
    margin-right: 20px;
}

.pepl-info img {
    border-radius: 100%;
}

.action-customer-detail li {
    display: inline-block;
    padding: 10px 20px;
    padding-right: 0;
}

.action-container {
    margin-bottom: 20px;
    text-align: right;
}

.popup-wraper3 {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s linear 0s;
    
}

.popup-wraper3.active {
    opacity: 1;
    visibility: visible;
}

.popup {
    background: #fff none repeat scroll 0 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    left: 50%;
    padding: 20px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 650px;
}

.popup-closed {
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    right: 18px;
    top: 15px;
    z-index: 9;
}

.popup-meta {
    display: inline-block;
    width: 100%;
}

.popup-head {
    border-bottom: 1px solid #dedede;
    display: inline-block;
    padding-bottom: 10px;
    width: 100%;
    color: #757a95;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-weight: 600;
}

.popup-head > h5 {
    color: #515365;
    display: inline-block;
    font-size: medium;
    font-weight: 600;
    margin-bottom: 0;
    width: 100%;
}

.Rpt-meta span {
    margin: 10px 0px;
    display: block;
}


.popup label {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 16px;
    text-transform: capitalize;
    width: 100%;
    color: #515365;
    font-weight: 500;
    display: inline-block;
}

.popup textarea {
    margin-bottom: 30px;
    width: 100%;
    background: #edf2f6 none repeat scroll 0 0;
    border-radius: 4px;
    font-size: 13px;
    padding: 14px 15px;
    color: #535165;
    border: 1px solid #e4e4e4;
}

.popup .btn-bar {
    text-align: right;
}

.popup .btn-bar > a {
    margin-right: 20px;
}

.popup .btn-bar a {
    font-size: large;
    color: white;
    cursor: pointer;
}

.add-butn.cancel {
    background-color: #535165;
} 
.open-modal {
    overflow-y: hidden;
}


.img-view-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgb(0 0 0 / 0.9);
    z-index: 999999;
}

.img-view-container table {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}

.img-view-container td {
    vertical-align: middle;
    text-align: center;
}

.img-view-container td {
    height: auto;
    max-width: 90%;
}
.img-view-container td img {
    height: 50%;
    max-width: 90%;
}

.img-view-container .btn-close {
    font-size: xx-large;
    color: #fff;
    position: absolute;
    right: 21px;
    top: 1px;
    cursor: pointer;
}
