
.contact100-form-btn {
    background-color: #b71c1c;
    font-size: medium;
}

.contact100-form-title {
    text-align: left;
    padding-bottom: 30px;
    font-size: x-large;
    font-weight: 600;
}

.line-bt {
    display: block;
    width: 55px;
    height: 5px;
    background-color: #FF0000;
    margin-top: 5px;
}

.wrap-input50 {
    width: calc((100% - 5px)/2);
    display: inline-block;
}

.form-description {
    padding: 10px 0px;
    font-size: medium;
}

.label-input100 {
    padding: 8px 0 2px 20px;
}

input.input100 {
    height: 30px;
}

.input100 {
    font-size: 15px;
    padding: 0px 20px;
}

@media (max-width: 576px) {
    .contact100-form {
        padding: 25px 15px 0px 15px;
    }
}

.input-icon {
    color: #ccc;
    position: absolute;
    right: 10px;
    bottom: 7px;
}


.regiser .form #sdt {
    height: 48px;
}


.regiser .wrap-input100  {
    margin-top: 20%;
}


.footer {
    background-color: #b71c1c;
    width: 100%;
    text-align: center;
    /* position: fixed; */
    bottom: 0;
}

.footer p {
    font-size: 30px !important;
    font-weight: 600 !important;
    color: #fff !important;
    padding: 0 !important;
    line-height: 16px !important;
    margin: 13px !important;
}


.wrap-input25 {
    width: 50px;
    display: inline-block;
    height: 50px;
    position: relative;
    border: 1px solid #e6e6e6;
    margin-bottom: 20px;
    border-radius: 0px;
}

.wrap-input25 input {
    height: 50px;
    padding: 0 !important;
    text-align: center;
    font-size: large;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.otp .input100 {
    font-size: 35px;
    font-weight: 600;
    padding: 0 15px;
    text-align: center;
}

.form-center {
    text-align: center;
    padding: 30px;
}
.center {
    text-align: center;
}

.btn-default {
    background-color: #fff;
    color: black;
    border: 1px solid #e6e6e6;
}

.otp .contact30-form-btn {
    width: 40%;
    font-size: medium;
    height: 45px;
    margin: 10px;
}

.complete .contact100-form-btn {
    margin-left: 20px;
    margin-right: 20px;
}

.register_step3 input.input100 {
    height: 48px;
}

.register_step3 .m-select {
    height: 48px;
    padding: 0px 10px;
}


.grecaptcha-badge {
    display: none;
}

#btn-register-phone {
    font-size: medium;
}

.error-msg {
    color: red;
    font-size: medium;
    padding: 20px 0px;
}

.sidebar {
    display: none !important;
}

@media (max-width: 576px) {
    .text-center-mobile {
        text-align: center !important;
    }

    .text-center-mobile .btn-apply-promotion {
        padding: 10px 70px;
    }
}


.no-border {
    border: none !important;
}




.footer{
    height: 50px;
	background:url('https://trungndpc.github.io/insee-promotion-client/images/bg-logo.png') no-repeat center;
    background-size:cover;
    text-align: center;
    vertical-align: middle;
    padding-top: 12.5px;
}

.footer img {
    height: 25px;
}

.btn-insee {
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    font-size: medium;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* transition: all 0.4s; */
}

.btn-insee-bg {
    background:url('https://trungndpc.github.io/insee-promotion-client/images/bg-btn.png') no-repeat center;
    background-size:cover;
}

.btn-insee-bg:active {
    background-color: brown;
    background-image: none;
}

.btn-default-none-bg {
    background-color: #fff !important;
    color: black;
    border: 1px solid #D0D2D3;
}

.btn-default-none-bg:active {
    background-color: #d7d7d7 !important
}

.input-shell {
    border: 1px solid #D0D2D3;
    margin: 60px 0px;
    margin-bottom: 10px;
    border-radius: 6px;
    height: 45px;
    position: relative;
}

.input-shell img {
    height: 20px;
    position: absolute;
    top: 12px;
    left: 10px;
}

.input-shell input {
    width: 100%;
    height: 43px;
    line-height: 45px;
    border-radius: 10px;
    padding-left: 30px;
    font-size: large;
    font-weight: bold;
    letter-spacing: 3px;
}


.input-shell input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: medium !important;
    letter-spacing: 0.5px !important;
    text-align: left;
    font-weight: 300;
    color: #929497;
}

.input-shell input::-moz-placeholder { /* Firefox 19+ */
    font-size: small !important;
    color: #929497;
    letter-spacing: 0.5px !important;
    font-weight: 300;
    text-align: left;
}
.input-shell input:-ms-input-placeholder { /* IE 10+ */
    font-size: small !important;
    color: #929497;
    letter-spacing: 0.5px !important;
    font-weight: 300;
    text-align: left;
}
.input-shell input:-moz-placeholder { /* Firefox 18- */
    font-size: small !important;
    color: #929497;
    letter-spacing: 0.5px !important;
    font-weight: 300;
    text-align: left;
}

.form-container {
    margin-top: 10%;
    margin-bottom: 80px;
}

.footer-desc {
    height: 50px;
    text-align: center;
    background-color: #fff;
    display: block;
    width: 100%;
}


.footer-desc p {
    margin: 0;
    padding: 0;
}

.otp .btn-container {
    text-align: center;
    display: block;
}
.btn-container .btn-retry-send-code , .btn-container .btn-submit-otp {
    display: inline-block;
    width: 40%;
}

.btn-container .btn-retry-send-code {
    margin-right: 20px;
}

@media (max-width: 375px) {
    .wrap-input25 {
        width: 40px;
        height: 40px;
    }

    .wrap-input25 input {
        height: 40px;
    }

    .form-description {
        font-size: medium;
    }

    .btn-insee {
        font-size: small;
    }
     
}


@media (max-width: 320px) {
    .wrap-input25 {
        width: 35px;
        height: 35px;
    }

    .form-description {
        font-size: small;
    }

    .btn-insee {
        font-size: x-small;
    }
     
}


.insee-input {
    font-size: small;
    height: 45px;
    line-height: 45px;
    border: none;
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #e6e6e6 !important;
    padding-left: 20px;
}

.form-row {
    margin: 15px 0px;
}


.birthday-item {
    width: calc((100% - 18px)/3);
    height: 45px;
    margin: 0px;
    display: inline-block;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}

.birthday-item  select {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    font-size: small;
    padding-left: 20px;
}

.birthday {
    width: 100%;
    display: block;
    text-align: center;
}

input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input {
    -webkit-appearance: none;
}

select {
    -webkit-appearance: none;
    background: url('https://insee-promotion-vn.s3.us-east-2.amazonaws.com/static/images/down-arrow.png') no-repeat calc(100% - 5px) 18px;
    background-size: 10px;
}

input[type="checkbox"], input[type="radio"] {
    -webkit-appearance: checkbox;
}

/* select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
} */

.btn-to-zalo {
    margin-top: 30%;
    margin-bottom: 30px;
}

.prelative {
    position: relative;
}

.policy input {
    position: absolute;
    top: 6px;
    left: 0px;
}

.policy span {
    padding-left: 17px;
    font-size: small;
}

.policy a {
    color: #17a2b8;
}

.bg-desktop {
    background-image: url('https://vlxdhiepha.com/upload/product/xi-mang-sao-mai-insee12000.jpg');
    background-size: cover;
    background-size: auto;
} 


.msg-error {
    padding: 10px 0px;
    color: red;
    font-size: small;
}


#main-menu {
    text-align: right;
    padding: 0;
    background-color: #fff;
}

#main-menu ul {
    width: 100%;
    margin: 0;
}

#main-menu > ul li {
    padding: 10px 20px;
    font-size: medium;
}

#main-menu > ul li a{
    font-size: 100%;
}

body {
    background: #f4f2f2 !important;
}

.col-avatar {
    width: 100px;
    background-color: #fff;
}
.col-name {
    width: calc(100% - 150px) !important;
    overflow: hidden;
}
.col-menu {
    width: 50px;
    text-align: right;
}

.col-menu i {
    padding-top: 17px;
}

.user-avatar {
    position: absolute;
    bottom: 0;
}

.container-fluid {
    background-color: #fff;
}

.input-shell.login-password {
    margin-top: 10px;
}

.login-page .form-container {
    margin-bottom: 10px ;
}

.btn-zalo-login button {
    background-color: #1E8FE5 !important;
}

.or {
    text-align: center;
    margin: 10px;
}


#insee-promotion-client {
    background-color: #fff;
}


.insee-app {
    width: 100%;
    height: 100%;
    /* position: fixed; */
}

.img-loading {
    width: 60px;
    height: 60px;
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 30px);
}

.bg-loading {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.location-input {
    width: 100%;
    display: block;
}

.location-input-city {
    width: calc((40% - 5px));
    height: 45px;
    margin: 0px;
    display: inline-block;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}

.location-input-district {
    width: calc((60% - 5px));
    height: 45px;
    margin: 0px;
    display: inline-block;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}

.location-input-city select {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    font-size: small;
    padding-left: 20px;
}

.location-input-district select {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    font-size: small;
    padding-left: 20px;
}

.owner-input {
    width: 100%;
    display: block;
}

.owner-input-name {
    width: calc((60% - 5px));
    height: 45px;
    margin: 0px;
    display: inline-block;
    /* border: 1px solid #e6e6e6; */
    border-radius: 5px;
}

.owner-input-phone {
    width: calc((40% - 5px));
    height: 45px;
    margin: 0px;
    display: inline-block;
    /* border: 1px solid #e6e6e6; */
    border-radius: 5px;
}

.owner-input-name input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    font-size: small;
    padding-left: 20px;
}

.owner-input-phone input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    font-size: small;
    padding-left: 20px;
}

.react-datepicker-wrapper {
    width: 100%;
}

.img-container {
    width: 100%;
    position: relative;
}

.img-container .img-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5px;
    top: 2px;
}

.desc-bill {
    font-size: small;
    line-height: 1;
    padding: 10px 0px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.m-content.post {
    padding: 0px 10px;
}

.cm-title {
    text-align: center;
}

.cm-title h3 {
    font-size: large;
    color: red;
    font-weight: 600;
    text-transform: uppercase;
}

.cm-desc {
    margin-top: 20px;
    text-align: center;
}

.cm-desc p {
    padding: 0;
    margin: 0;
    color: #545454;
    font-size: small;
}

.cm-content {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cm-content p {
    color: #545454;
    font-size: medium;
    line-height: 18px;
    margin-bottom: 27px;
}

.cm-note  {
    text-align: center;
    color: #545454;
    font-size: medium;
    position: fixed;
    bottom: 0;
    margin-bottom: 60px;
}

.cm-note p {
    color: #545454;
    font-size: small;
    margin: 0;
    line-height: 15px;
}

.cards {
    text-align: center;
    padding-top: 40px;
}

.cards .card-item {
    position: relative;
    width: 80%;
    display: inline-block;
    border: 1px solid #ccc;
    background: #fafafa;
    padding: 10px 0px;
    margin-bottom: 10px;
    font-size: small;
}

.cards .card-item img {
    float: left;
    width: 100px;
    padding: 20px;
}

.cards .card-item ul {
    padding-top: 5px;
}

.cards .card-item ul li{
    font-size: small;
}

.code-cardphone {
    text-align: center;
    font-size: medium;
    width: calc(100% - 100px);
    font-weight: 600;
    background-color: #fafafa;
}

.select-cement select{
    font-size: small;
    height: 45px;
    line-height: 45px;
    border: none;
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #e6e6e6 !important;
    padding-left: 20px;
}
.tooltiptext {
    -webkit-animation: seconds 1.0s forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 2s;
    animation: seconds 1.0s forwards;
    animation-iteration-count: 1;
    animation-delay: 2s;
    visibility: visible;
    width: 78px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: -50%;
    right: 0;
    display: none;
  }

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
  }

  @-webkit-keyframes seconds {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      left: -9999px; 
    }
  }
  @keyframes seconds {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      left: -9999px; 
    }
  }

  #main-menu {
    z-index:0;
    display: none;
    /* transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; */
  }

  #main-menu.showmenu{
      display: block;
    /* transform: translateY(0);
    -webkit-transform: translateY(0); */
}

.say-thank {
    color: #333333;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

.desc-sthk {
    text-align: center;
    font-size: medium;
    margin-top: 15px;
}

.icon-sthk {
    text-align: center;
    margin-top: 30px;
}
.red {
    color: #da0000;
    font-weight: 500;
}

.green {
    color: #217346;
    font-weight: 500;
}

.err-slsp {
    color: red;
    font-size: small;
}

.input-refferal-code {
    border: 1px solid #D0D2D3;
    margin: 60px 0px;
    margin-bottom: 10px;
    border-radius: 6px;
    height: 45px;
    position: relative;
}

.input-refferal-code input {
    width: 100%;
    height: 43px;
    line-height: 45px;
    border-radius: 10px;
    padding-left: 30px;
    font-size: large;
    font-weight: bold;
    letter-spacing: 3px;
}

.input-refferal-code input {
    padding: 0px 10px !important;
    text-align: center;
}

.input-refferal-code input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-align: center !important;
    font-size: medium !important;
    color: #929497;
    letter-spacing: 0.5px !important;
    font-weight: 300;
}

.input-refferal-code input::-moz-placeholder { /* Firefox 19+ */
    text-align: center !important;
    font-size: medium !important;
    color: #929497;
    letter-spacing: 0.5px !important;
    font-weight: 300;
}
.input-refferal-code input:-ms-input-placeholder { /* IE 10+ */
    text-align: center !important;
    font-size: medium !important;
    color: #929497;
    letter-spacing: 0.5px !important;
    font-weight: 300;
}
.input-refferal-code input:-moz-placeholder { /* Firefox 18- */
    text-align: center !important;
    font-size: medium !important;
    color: #929497;
    letter-spacing: 0.5px !important;
    font-weight: 300;
}

.btn-skip {
    margin-right: 0 !important;
    margin-left: 10px;
}

.form-referral {
    margin-left: calc((20% - 15px) / 2);
    margin-right: calc((20% - 15px) / 2);
}

.modal-qrcode {
    background-color: #111111b5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
}

.modal-qrcode img {
    width: 80%;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.lr-content {
    text-align: center;
    padding-top: 20px;
    position: relative;
}

.lr-content  .wheel {
    width: 90%;
    height: auto;
}

.marker {
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top: calc(50% - 42px);
}

.btn-roll-container {
    text-align: center;
    padding: 30px;
}

.blur {
    animation: blur 10s;
}
  
@keyframes blur {
0% {
    filter: blur(1.5px);
}
80% {
    filter: blur(1.5px);
}
100% {
    filter: blur(0px);
}
}

.modal-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 50%; */
    width: 90%;
    background-color: #fff;
    padding: 40px;
    padding-bottom: 10px;
    text-align: center;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    -webkit-box-shadow: 0 -10px 45px rgb(0 0 0 / 25%);
    -moz-box-shadow: 0 -10px 45px rgba(0,0,0,.25);
    box-shadow: 0 -10px 45px rgb(0 0 0 / 25%);
}

.modal-close-btn {
    text-align: center;
    margin-top: 20px;
}

.btn-small {
    font-size: small;
    height: 35px;
}

.retailers-rs .loadMore{
    width: 100%;
}

.retailers-rs .name-retailer {
    font-size: 1em;
}
.retailers-rs .icon {
    margin-right: 5px;
}

.retailers-rs .phone {
    color:#007bff;
}

.retailers-rs ul li {
    background: #fdfdfd none repeat scroll 0 0;
    border: 1px solid #ede9e9;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 5px;
}

.retailers-rs ul li ul li {
    padding: 8px;
    color: #3a3a3a;
    font-size: 0.85em;
}

.team {
    display: block;
    text-align: center;
}

.team .team-one {
    display: inline-block;
    width: 50%;
    text-align: right;
    padding-right: 10px;
}

.team .team-two {
    display: inline-block;
    width: 50%;
    text-align: left;
    padding-left: 10px;
}
.team.done .team-one img {
    float: right;
    margin-top: 5px;
}

.team.done .team-two img {
    float: left;
    margin-top: 5px;
}

.team img {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    display: inline-block;
}
.team h5 {
    display: inline-block;
    font-size: 0.90em;
    padding: 0 5px;
    font-weight: 400;
    padding-top: 10px;
}

.team-icon {
    display: inline-block;
    margin: 0 15px;
}

.football-header {
    padding: 5px 0px;
}
.football-header p {
    display: inline-block;
    padding-right: 10px;
}

.football-header .time {
    font-weight: 600;
}
.football-header .status {
    color: #dc3545;
}

.football ul li {
    padding-top: 0;
    padding-bottom: 0;
}

.football-footer p {
    text-align: center;
    padding: 9px 10px;
}

.loyalty .f-title {
    margin-bottom: 0;
}

.loyalty .ton-title {
    color: #868e96;
    font-size: 15px;
}

.loyalty .ton-info{
    padding: 40px 0px;
}

.loyalty .ton {
    font-size: 45px;
    font-weight: 600;
}


.ton-process {
    padding: 0 8px;
    margin-bottom: 40px;
}

.cdt-step-progressbar.horizontal {
    width: 100%;
    flex-direction: row;
} 

.cdt-step-progressbar {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    counter-reset: step;
    display: flex;
    flex-direction: column;
}
.cdt-step-progressbar li.active.fix-last-active {
    border-color: #c7c7c7;
}


.cdt-step-progressbar li {
    padding: 7px 0 40px 40px;
    border-left: 1px solid var(--color-lower);
    position: relative;
    color: var(--color-lower);
    font-size: 15px;
}

.cdt-step-progressbar li.active .indicator, .cdt-step-progressbar.horizontal li.active .indicator {
    border-color: #FF0000;
    color: #fff;
}

.cdt-step-progressbar li.active .indicator {
    background-color: #FF0000;
}

.cdt-step-progressbar.horizontal li:first-child::after {
    content: none;
}


.cdt-step-progressbar.horizontal li.active:first-child::after {
    content: none;
}

.cdt-step-progressbar.horizontal li .indicator {
    position: absolute;
    /* left: 50%; */
    left: 0;
    top: 0;
    transform: translate(-50%,-50%);
}

.cdt-step-progressbar li .indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #c7c7c7;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #c7c7c7;
    color: #707070;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.cdt-step-progressbar li .title {
    position: absolute;
    left: -5px;
    width: 60px;
}


.cdt-step-progressbar li.active .title, .cdt-step-progressbar.horizontal li.active .title {
    color: black;
    font-weight: 600;

}


.cdt-step-progressbar.horizontal li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #707070;
    top: -2px;
    left: 0;
    z-index: 1;
}

.cdt-step-progressbar.horizontal li.active::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #FF0000;
    top: -2px;
    left: 0;
    z-index: 1;
}

.cdt-step-progressbar.horizontal li.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #FF0000;
    top: -2px;
    left: 0;
    z-index: 1;
}


.cdt-step-progressbar.horizontal li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #707070;
    top: -2px;
    left: 0;
    z-index: 1;
}

.cdt-step-progressbar.horizontal li {
    color: #707070;
    padding-left: 0;
    padding-top: 40px;
    border-left: none;
    text-align: left;
}

.cdt-step-progressbar li {
    padding: 7px 0 40px 40px;
    position: relative;
}


.tb-point {
    width: 100px;
    display: flex;
    /* float: left; */
    font-weight: 600;
}

.loyalty .desc {
    border-radius: 12px;
    background-color: #ddd;
    padding: 18px;
}

.loyalty .desc  h4 {
    padding-bottom: 15px;
}

.loyalty .desc table {
    font-size: 1.0em;
}

 .hd {
    text-align: center;
    font-size: 0.92em;
    padding-top: 24px;
    color: #b71c1c;
    font-weight: 600;
    line-height: 21px;
}
.tbcontent {
    text-align: center;
}

.tbcontent th {
    text-align: center;
}

.tbcontent th {
    padding: 10px 0px;
    color: #fff;
    background-color: #b71c1c;
}

.tbcontent tr td{
    padding: 10px 0px;
}

.sub-menu {
    width: 100%;
}

.sub-menu li {
    float: left;
    display: inline-block;
    width: 50%;
    padding: 10px 0 !important;
    padding-top: 10px !important;
    text-align: center;
}

.sub-menu li.active {
    font-weight: 600;
}