@font-face {
    font-family: '3dumbregular';
    src: url('https://trungndpc.github.io/insee-promotion-client/fonts/SanFranciscoText-Bold.otf');
    src: url('https://trungndpc.github.io/insee-promotion-client/fonts/SanFranciscoText-Light.otf'),
         url('https://trungndpc.github.io/insee-promotion-client/fonts/SanFranciscoText-LightItalic.otf') ,
         url('https://trungndpc.github.io/insee-promotion-client/fonts/SanFranciscoText-Regular.otf') ,
         url('https://trungndpc.github.io/insee-promotion-client/fonts/SanFranciscoDisplay-Bold.otf'),
         url('https://trungndpc.github.io/insee-promotion-client/fonts/SanFranciscoDisplay-Regular.otf'),
    }




.contact100-form-btn {
    background-color: #b71c1c;
    font-size: medium;
}

.contact100-form-title {
    text-align: left;
    padding-bottom: 30px;
    font-size: x-large;
    font-family: 'SanFranciscoDisplay-Bold' !important;
    font-weight: 600;
}

.line-bt {
    display: block;
    width: 55px;
    height: 5px;
    background-color: #FF0000;
    margin-top: 5px;
}

.wrap-input50 {
    width: calc((100% - 5px)/2);
    display: inline-block;
}

.form-description {
    padding: 10px 0px;
    font-size: medium;
}

.label-input100 {
    padding: 8px 0 2px 20px;
}

input.input100 {
    height: 30px;
}

.input100 {
    font-size: 15px;
    padding: 0px 20px;
}

@media (max-width: 576px) {
    .contact100-form {
        padding: 25px 15px 0px 15px;
    }
}

.input-icon {
    color: #ccc;
    position: absolute;
    right: 10px;
    bottom: 7px;
}


.regiser .form #sdt {
    height: 48px;
}


.regiser .wrap-input100  {
    margin-top: 20%;
}


.footer {
    background-color: #b71c1c;
    width: 100%;
    text-align: center;
    /* position: fixed; */
    bottom: 0;
}

.footer p {
    font-size: 30px !important;
    font-weight: 600 !important;
    color: #fff !important;
    padding: 0 !important;
    line-height: 16px !important;
    margin: 13px !important;
}


.wrap-input25 {
    width: 50px;
    display: inline-block;
    height: 50px;
    position: relative;
    border: 1px solid #e6e6e6;
    margin-bottom: 20px;
    border-radius: 0px;
}

.wrap-input25 input {
    height: 48px;
    padding: 0 !important;
    text-align: center;
    font-size: large;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.otp .input100 {
    font-size: 35px;
    font-weight: 600;
    padding: 0 15px;
    text-align: center;
}

.form-center {
    text-align: center;
    padding: 30px;
}
.center {
    text-align: center;
}

.btn-default {
    background-color: #fff;
    color: black;
    border: 1px solid #e6e6e6;
}

.otp .contact30-form-btn {
    width: 40%;
    font-size: medium;
    height: 45px;
    margin: 10px;
}

.complete .contact100-form-btn {
    margin-left: 20px;
    margin-right: 20px;
}

.register_step3 input.input100 {
    height: 48px;
}

.register_step3 .m-select {
    height: 48px;
    padding: 0px 10px;
}


.grecaptcha-badge {
    display: none;
}

#btn-register-phone {
    font-size: medium;
}

.error-msg {
    color: red;
    font-size: small;
}


@media (max-width: 576px) {
    .sidebar {
        display: none !important;
    }

    .text-center-mobile {
        text-align: center !important;
    }

    .text-center-mobile .btn-apply-promotion {
        padding: 10px 70px;
    }

    .icon-bar {
        display: block;
    }
   
}


.no-border {
    border: none !important;
}




.footer{
    height: 50px;
	background:url('https://trungndpc.github.io/insee-promotion-client/images/bg-logo.png') no-repeat center;
    background-size:cover;
    text-align: center;
    vertical-align: middle;
    padding-top: 12.5px;
}

.footer img {
    height: 25px;
}

.btn-insee {
    font-family: 'SanFranciscoText-Bold' !important;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    font-size: medium;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.4s;
}

.btn-insee-bg {
    background:url('https://trungndpc.github.io/insee-promotion-client/images/bg-btn.png') no-repeat center;
    background-size:cover;
}

.btn-default-none-bg {
    background-color: #fff !important;
    color: black;
    border: 1px solid #D0D2D3;
}

.input-shell {
    border: 1px solid #D0D2D3;
    margin: 60px 0px;
    margin-bottom: 10px;
    border-radius: 6px;
    height: 45px;
    position: relative;
}

.input-shell img {
    height: 20px;
    position: absolute;
    top: 12px;
    left: 10px;
}

.input-shell input {
    font-family: 'SanFranciscoText-Regular' !important;
    width: 100%;
    height: 43px;
    line-height: 45px;
    border-radius: 10px;
    padding-left: 30px;
    font-size: large;
    font-weight: bold;
    letter-spacing: 3px;
}


.input-shell input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: medium !important;
    letter-spacing: 0.5px !important;
    text-align: left;
    font-weight: 300;
    color: #929497;
}
.input-shell input::-moz-placeholder { /* Firefox 19+ */
    font-size: small !important;
    color: #929497;
    letter-spacing: 0.5px !important;
    font-weight: 300;
    text-align: left;
}
.input-shell input:-ms-input-placeholder { /* IE 10+ */
    font-size: small !important;
    color: #929497;
    letter-spacing: 0.5px !important;
    font-weight: 300;
    text-align: left;
}
.input-shell input:-moz-placeholder { /* Firefox 18- */
    font-size: small !important;
    color: #929497;
    letter-spacing: 0.5px !important;
    font-weight: 300;
    text-align: left;
}

.form-container {
    margin-top: 10%;
    margin-bottom: 80px;
}

.footer-desc {
    height: 50px;
    text-align: center;
    background-color: #fff;
    display: block;
    width: 100%;
}


.footer-desc p {
    margin: 0;
    padding: 0;
}

.otp .btn-container {
    text-align: center;
    display: block;
}
.btn-container .btn-retry-send-code , .btn-container .btn-submit-otp {
    display: inline-block;
    width: 40%;
}

.btn-container .btn-retry-send-code {
    margin-right: 20px;
}

@media (max-width: 375px) {
    .wrap-input25 {
        width: 40px;
        height: 40px;
    }

    .form-description {
        font-size: medium;
    }

    .btn-insee {
        font-size: small;
    }
     
}


@media (max-width: 320px) {
    .wrap-input25 {
        width: 35px;
        height: 35px;
    }

    .form-description {
        font-size: small;
    }

    .btn-insee {
        font-size: x-small;
    }
     
}


.insee-input {
    font-size: small;
    height: 45px;
    line-height: 45px;
    border: none;
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding-left: 20px;
}

.form-row {
    margin: 15px 0px;
}


.birthday-item {
    width: calc((100% - 18px)/3);
    height: 45px;
    margin-right: 6px;
    display: inline-block;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}

.birthday-item  select {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    font-size: small;
    padding-left: 5px;
}

.birthday {
    width: 100%;
    display: block;
}

input:-webkit-autofill,
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.btn-to-zalo {
    margin-top: 30%;
    margin-bottom: 30px;
}

.prelative {
    position: relative;
}

.policy input {
    position: absolute;
    top: 6px;
    left: 0px;
}

.policy span {
    padding-left: 17px;
    font-size: small;
}

.policy a {
    color: #17a2b8;
}

.bg-desktop {
    background-image: url('https://vlxdhiepha.com/upload/product/xi-mang-sao-mai-insee12000.jpg');
    background-size: cover;
    background-size: auto;
} 


.msg-error {
    padding: 10px 0px;
    color: red;
    font-size: small;
}


.icon-bar {
    position: absolute;
    top: 20px;
    font-size: 20px;
    right: 0;
}

#main-menu {
    text-align: right;
    padding: 0;
    background-color: #fff;
}

#main-menu ul {
    width: 100%;
    margin: 0;
}

#main-menu ul li {
    padding: 10px 20px;
    font-size: small;
}

body {
    background: #f4f2f2 !important;
}

.col-avatar {
    background-color: #fff;
}
.container-fluid {
    background-color: #fff;
}

.input-shell.login-password {
    margin-top: 10px;
}

.login-page .form-container {
    margin-bottom: 10px ;
}

.btn-zalo-login button {
    background-color: #1E8FE5 !important;
}

.or {
    text-align: center;
    margin: 10px;
}


@media (min-width: 576px) {
    

    .icon-bar {
        display: none !important;
    }
   
}


#insee-promotion-client {
    background-color: #fff;
}