<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>insee-promotion-client</title>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-app.js"></script>
    <script  src="https://www.gstatic.com/firebasejs/8.1.2/firebase-auth.js"></script>
    <script src="https://admin-nhathau.insee.udev.com.vn/static/js/ckeditor.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.821.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

</head>

<body>
    <div id="insee-promotion-client"></div>
</body>



</html>