@font-face {
    font-family: '3dumbregular';
    src: url('https://insee-promotion-vn.s3.us-east-2.amazonaws.com/static/fonts/SanFranciscoText-Bold.otf');
    src: url('https://insee-promotion-vn.s3.us-east-2.amazonaws.com/static/fonts/SanFranciscoText-Light.otf'),
         url('https://insee-promotion-vn.s3.us-east-2.amazonaws.com/static/fonts/SanFranciscoText-LightItalic.otf') ,
         url('https://insee-promotion-vn.s3.us-east-2.amazonaws.com/static/fonts/SanFranciscoText-Regular.otf') ,
         url('https://insee-promotion-vn.s3.us-east-2.amazonaws.com/static/fonts/SanFranciscoDisplay-Bold.otf'),
         url('https://insee-promotion-vn.s3.us-east-2.amazonaws.com/static/fonts/SanFranciscoDisplay-Regular.otf'),
}


html,body{
    font-family: 'SanFranciscoDisplay-Bold' !important;
}

.btn-apply-promotion {
    background-color: #b71c1c;
    color: #fff;
    padding: 10px 32px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 9px;
    border: none;
}

.extra-infor-post {
    padding-left: 25px;
    padding-bottom: 10px;
    display: block;
    color: #b71c1c;
}
.insee-color {
    background-color: #b71c1c;
    color: #fff;
}

.feature-photo figure img {
    max-height: 300px;
}

.friend-name {
    padding-left: 0;
}

@media screen and (max-width: 640px) {
    /* .central-meta {
        padding: 14px;
    } */
    .table-info-contractor tr th {
        width: 30%;
    }
}

.img-view-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgb(0 0 0 / 0.9);
}

.img-view-container table {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}

.img-view-container td {
    vertical-align: middle;
    text-align: center;
}

.img-view-container td {
    height: auto;
    max-width: 90%;
}

.img-view-container .btn-close {
    font-size: xx-large;
    color: #fff;
    position: absolute;
    right: 21px;
    top: 1px;
    cursor: pointer;
}

.f-title.bill {
    padding: 10px 0;
    margin: 0;
}

.photos li {
    position: relative;
}

.photos li .status {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 22%;
    color: #fff;
    font-weight: 600;
}

.post-btn {
    width: inherit !important;
    text-transform: initial;
    padding: 0 40px;
}
.post .g-post-classic > figure {
    margin: 0;
}

.g-post-meta {
    padding: 0 5px;
}
.g-post-meta h4  {
    padding-top: 10px;
    margin: 0;
}
.g-post-meta h4 a {
    font-size: medium;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'SanFranciscoDisplay-Bold' !important;
}

.g-post-classic .summary-rules {
    color: #175ba9;
    font-size: small;
    margin-bottom: 5px;
    line-height: 10px;
}

.g-post-classic .post-summary {
    font-size: revert;
    padding: 0 10px;
    margin: 0;
    line-height: 1.4;
}

/* .table-info-contractor {
    font-size: small;
} */

.f-title {
    padding-bottom: 0;
    /* font-size: medium; */
}
.photos > li a img {
    height: 100px;
}